// fonts

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Inter:wght@400;500&family=Poppins:wght@500;600&display=swap');

// global

::selection {
  @apply bg-emerald-200;
}

body {
  @apply bg-gray-50 text-black font-body cursor-default;
}

a,
button {
  @apply text-emerald-600 hover:text-emerald-500 outline-none transition-colors;

  &:disabled {
    @apply cursor-not-allowed;
  }
}

a,
button,
input,
select,
textarea {
  @apply outline-none;

  &:focus {
    @apply outline-none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

// layout

#__next {
  @apply flex flex-col min-h-screen container mx-auto;

  > main {
    @apply flex flex-col px-8 flex-1;
  }
}

// components

form {
  label {
    @apply block;

    &:not(:last-of-type) {
      @apply mb-4;
    }

    strong {
      @apply block mb-2 font-medium;
    }
  }

  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-gray-100 rounded-lg p-4 w-full;

    &:focus {
      @apply outline-none;
    }
  }

  button {
    @apply text-black cursor-pointer rounded-full w-auto font-medium py-4 px-8;
  }

  textarea {
    @apply resize-none h-24;
  }
}

.hard-error {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}

// ionicon

.ionicon {
  @apply fill-current stroke-current;
}

.ionicon-fill-none {
  fill: none;
}

.ionicon-stroke-width {
  stroke-width: 32px;
}

.icon-black {
  @apply text-black;
}

.icon-white {
  @apply text-white;
}

.icon-gray {
  @apply text-gray-500;
}

.icon-red {
  @apply text-red-500;
}

.icon-orange {
  @apply text-orange-500;
}

.icon-amber {
  @apply text-amber-500;
}

.icon-yellow {
  @apply text-yellow-500;
}

.icon-lime {
  @apply text-lime-500;
}

.icon-green {
  @apply text-green-500;
}

.icon-emerald {
  @apply text-emerald-500;
}

.icon-teal {
  @apply text-teal-500;
}

.icon-cyan {
  @apply text-cyan-500;
}

.icon-light-blue {
  @apply text-lightBlue-500;
}

.icon-blue {
  @apply text-blue-500;
}

.icon-indigo {
  @apply text-indigo-500;
}

.icon-violet {
  @apply text-violet-500;
}

.icon-purple {
  @apply text-purple-500;
}

.icon-fuchsia {
  @apply text-fuchsia-500;
}

.icon-pink {
  @apply text-pink-500;
}
